.item {
  background-color: rgb(231, 231, 231);
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 15px;
  border: 3px inset rgb(223, 223, 223);
  max-width: 50rem;
  box-shadow: 10px 5px 5px rgb(41, 41, 41);
}
